build --define framework_shared_object=false
build --define grpc_no_ares=true
build --define open_source_build=true
build --cxxopt="-std=c++14"
build --host_cxxopt=-std=c++14
build --action_env TF_USE_CCACHE="0"
build -c opt
build:macos --crosstool_top=@llvm_toolchain//:toolchain"
build:macos --copt="-DGRPC_BAZEL_BUILD"
build:macos --copt="-mmacosx-version-min=10.13"
build:macos --linkopt="-mmacosx-version-min=10.13"
build:opt --define with_default_optimizations=true
build:opt --copt=-Wno-sign-compare
